/** GENERAL **/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: blueviolet;
}

body {
    /** font originale **/
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    background-color: #FBFEF9;
}

/** HEADER **/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/** MAP **/
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
    width: 100%;
    height: 80%;
}

#map {
    height: 500px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 490px;
    width: 30%;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#nav #nav_info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

#nav h2 {
    margin: 20px 0;
    align-self: center;
}

.legend_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    background-color: #efefef;
    color: black;
    padding: 10px 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 15rem;
}

.legend_item img {
    width: 50px;
    margin-right: 10px;
}

#nav button {
    background-color: white;
    border: none;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#nav button img {
    width: 20px;
    transition: filter 0.2s;
}

#nav button:hover {
    background-color: #191923;
}

#nav button:hover img {
    filter: invert(1);
}

.nav_button {
    width: 40px;
}

#nav_prev img {
    transform: rotate(180deg);
}

.icon {
    width: 30px;
    margin-right: 10px;
}

.span_gras {
    font-weight: bold;
}

/** FOOTER **/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/** METEO **/

#meteo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.meteo_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #efefef;
    color: black;
    padding: 10px 40px;
    border-radius: 10px;
    width: 15rem;
}

.meteo_item img {
    width: 50px;
    margin-right: 10px;
}

.meteo_item_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
}

.span_grand {
    font-size: 2.5em;
}

.span_petit {
    font-size: 0.8em;
    color: grey;
}