/** GENERAL **/
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #efefef;
}

.none{
    display: none;
}

.block{
    display: block;
}

/** HEADER **/
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#retour{
    text-decoration: none;
    color: black;
    position: absolute;
    left: 1rem;
    top: 1.2rem;
    font-weight: bold;
}

#titre{
    align-items: center;
}

/** MAIN **/
main{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.CR_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CR_titre{
    align-self: center;
    padding: 2rem;
}

.centrer_objet{
    align-self: center;
}

/* DIAGRAMMES */

#diagrammes_image{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.boxDiag{
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.titre-diag{
    align-self: center;
}

.img-diag{
    margin: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    align-self: center;
}

.img-diag:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.desc-diag{
    align-self: center;
}

#fond{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
    backdrop-filter: blur(0.2rem);
}

#img-container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-27rem); /* taille de l'image + padding */
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 5rem rgba(0, 0, 0, 0.8);

}

#bigImg{
    width: 50rem;
    height: auto;
    border-radius: 1rem;
}

/* FONCTIONNALITES */

#liste_fonctionnalites{
    align-self: center;
    background-color: white;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* INFORMATIONS NECESSAIRES A L'UTILISATION DU PROJET */

#liste_infos{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

#liste_infos>*{
    padding: 1rem;
}

/* LIEN VERS LE CODE */

#lien_vers_le_code{
    text-decoration: underline;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#lien_vers_le_code:hover{
    transform: scale(1.1);
}

/** FOOTER **/
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    margin-top: 2rem;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
